body {
  background-color: blanchedalmond;
}
.equationType {
  background-color: coral;
}
#submitBtn {
  background-color: coral;
}
#clear {
  background-color: coral;
}
h3 {
  color: darkolivegreen;
}
